<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg border-bottom-custom custom-navbar-bg">
  <div class="container-fluid">
    <a class="navbar-brand bebas-neue-regular" href="#">
      <img src="\assets\icones\NextLine-Photoroom.png" width="85" height="90">
      <span>NextLine</span>
    </a>
      <div class="d-flex ms-auto">
        <button class="btn custom-btn-blue roboto-condensed" type="button">Connexion</button>
    </div>
  </div>
</nav>
