<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<footer class="fixed-bottom custom-navbar-bg border-top-custom py-2">
    <div class="container text-center">
      <h5 class="bebas-neue-regular">NextLine</h5>
      <p class="roboto-condensed small">Dématérialisation de la fiche de renseignement pour des stagiaires en formation devant effectuer un stage en entreprise</p>
      <p class="small roboto-condensed">&copy; 2024 NextLine. Tous droits réservés. </p>
      <ul class="list-inline roboto-condensed small">
        <li class="list-inline-item">
          <a href="#">Mentions légales</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Politique de confidentialité</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </footer>