<div *ngIf="currentStep === 1">
    <app-formulaire-entreprise></app-formulaire-entreprise>
</div>

<div *ngIf="currentStep === 2">
    <app-formulaire></app-formulaire>
</div>

<div class="wizard-controls d-flex justify-content-center mt-4">
    <button type="button" class="btn custom-btn-blue roboto-condensed me-2" (click)="goToStep(currentStep - 1)" [disabled]="currentStep === 1">Précédent</button>
    <button type="button" class="btn custom-btn-blue roboto-condensed" (click)="goToStep(currentStep + 1)" [disabled]="currentStep === totalSteps">Suivant</button>
</div>
