body {
    background-image: url('../public/assets/images/fond-ecran-wallpaper-image-abstrait-bleu-13.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; /* Ajuste la hauteur minimale pour correspondre à la taille de la fenêtre */
    margin: 0;
  }