body {
    background-image: url('../public/assets/images/fond-ecran-wallpaper-image-abstrait-bleu-13.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 140vh; 
  }